:root {
  --dark-brown: #3e2a1b;
  --light-brown: #8b6d47;
  /* --light-light-brown: #82633a; */
  --light-blue: #eaf1ff;
}

* {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}
body {
  height: 100vh;
}

section {
  margin-bottom: 5%;
  width: 100%;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up form {
  position: relative;
  margin: 80px;
  width: 500px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sign-up form input {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.24);
}
.sign-up form button {
  margin-top: 20px;
  padding: 5px 20px;
  align-self: center;
  width: 100px;
  cursor: pointer;
  background-color: #3e2a1b;
  border-radius: 50px;
  color: white;
  border: none;
  transition: all 0.5s ease;
}
.sign-up form button:hover,
.inWebsite a:hover {
  background-color: #8b6d47;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 0;
  margin-left: 10px;
}
.info {
  display: flex;
  justify-content: center;
  color: rgb(7, 183, 7);
  font-size: 12px;
  margin-top: 12px;
  margin-left: 10px;
}

/* header buttons */
.inWebsite {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.inWebsite a {
  width: 80px;
  height: 40px;
  border-radius: 80px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #3e2a1b;
  color: white;
  transition: all 0.5s ease;
}

.inWebsite .profileIcon {
  width: 90px;
  height: 40px;
  border-radius: 5px !important;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  transition: all 0.5s ease;
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

/* ****************** First Page ******************** */
.first-page {
  width: 98.5vw;
  height: 90vh;
  background-image: url(./imgs/bg01.svg);
  background-position: right;
  background-color: #fff5e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-position: bottom;
}
#first-line {
  width: 50%;
  position: relative;
  right: -20%;
  display: flex;
  justify-content: space-between;
}
#first-line button {
  position: relative;
  top: 10px;
  padding: 5px 30px;
  border-radius: 40px;
  border: none;
  background-color: #3e2a1b;
  color: white;
  cursor: pointer;
}
.first-page h3 {
  margin-bottom: 0;
  color: #8b6d47;
}

.first-page h1 {
  margin-top: 0;
  margin-bottom: 0px;
  color: #3e2a1b;
}

.first-page h4 {
  margin-bottom: 5px;
}

.home-btns {
  margin-bottom: 10px;
  padding: 10px;
}
.home-btns button {
  padding: 10px 30px;
  margin: 10px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: var(--light-brown);
}
#r-btn {
  background-color: #3e2a1b;
  color: white;
}

/* ****************** Second Page ******************** */
#second-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#second-title {
  position: relative;
}
#second-title::before {
  content: "";
  width: 300%;
  height: 1px;
  background-color: #b49164;
  position: absolute !important;
  top: 50%;
  left: 100% !important;
  right: auto;
  margin: 0 10px;
}
#second-title::after {
  content: "";
  width: 300%;
  height: 1px;
  background-color: #b49164;
  position: absolute !important;
  top: 50%;
  right: 100% !important;
  margin: 0 10px;
}
.cards-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  gap: 40px;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card {
  width: 300px;
  height: 370px;
  border: 1px solid var(--light-brown);
  display: flex;
  padding: 20px;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  border-radius: 10px;
  position: relative;
}
.card img {
  position: relative;
  width: 250px;
  height: 150px;
}
.card-text {
  width: 60%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.card-text span {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 15px;
  padding: 8px;
  background-color: #d6a059;
  border-radius: 40px 0 0 40px;
}
.card-text button {
  padding: 10px;
  position: relative;
  border: 1px solid var(--dark-brown);
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-self: center;
  justify-content: center;
  cursor: pointer;
}
.fa {
  font-size: 50px;
}

.slider {
  width: 90%;
  margin: auto;
  overflow: hidden !important;
}

.slide-wrapper {
  overflow: hidden;
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-image {
  width: 90%;
  height: 100%;
  transition: transform 0.3s ease;
}

.slider-image:hover {
  transform: scale(1.2);
}

.slick-prev,
.airline-slider .slick-prev {
  left: 0 !important;
  z-index: 100;
}
.slick-next {
  right: 0 !important;
  z-index: 100;
}
.airline-slider .slick-prev,
.airline-slider .slick-prev:hover,
.airline-slider .slick-next,
.airline-slider .slick-next:hover {
  display: block !important;
  background-color: #3e2a1b;
  border-radius: 50%;
}
.airline-slider .slick-slide {
  width: 250px !important;
}
.airline-slider {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.airline-slider .slick-slider {
  width: 90%;
  display: flex;
  justify-content: center;
  align-self: center;
}
.airline-slider .slick-list {
  margin: 0 100px;
}
.airline-slider-image {
  width: 200px;
  height: 100px;
}

/* ****************** Services ******************** */
.services {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 35px;
}
.service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}
/* Service.css */
.service {
  width: 300px;
  height: 300px;
  border-radius: 10%;
  color: #fff;
  padding: 20px;
  background-color: #3e2a1b;
  position: relative;
  overflow: hidden;
  transition: background 0.5s;
}

.service::before {
  content: "";
  background: radial-gradient(
    circle at var(--pos-x, 50%) var(--pos-y, 50%),
    rgba(255, 255, 255, 0.3),
    transparent 70%
  );
  height: 100%;
  width: 100%;
  border-radius: inherit;
  left: 0;
  top: 0;
  position: absolute;
  transition: background 0.5s;
  opacity: 0; /*initially hidden*/
  z-index: 0;
}

.service:hover::before {
  opacity: 1;
}

.service * {
  position: relative;
  z-index: 1;
}

.blob-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  background-color: #8b6d47;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.sub-service-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  line-height: 1.8em;
}
/* ****************** Contact Us ******************** */
#contact-section,
#contact-page {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-brown);
}

.contact {
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  /* height: 400px; */
  border-radius: 10px;
}
.contact h3 {
  margin: 0;
}
.contact input,
.contact-btn {
  border: 1px solid var(--dark-brown);
  padding: 10px 40px;
  color: white;
  background-color: transparent;
  width: 100%;
}
.contact textarea {
  width: 100%;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  resize: none;
  outline: none;
  padding: 20px;
  margin: 15px 0;
  font: large;
  font-size: large;
  font-weight: 300;
}
.contact-btn {
  background-color: var(--dark-brown);
  transition: all 0.4s ease-in-out;
}
.contact-btn:hover {
  cursor: pointer;
  background-color: transparent;
}
.input-container {
  position: relative;
  display: flex;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #eaf1ff;
}

.input-with-icon::placeholder {
  color: #ffffff;
}

/* ****************** Footer ******************** */

#footer {
  width: 90%;
  display: grid;
  grid-template-rows: 1fr 0.3fr;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 50px;
}
#footer div {
  margin: 0 20px;
}
#icons-div {
  display: flex;
  justify-content: space-around;
}
#icons-div i {
  border-radius: 50%;
  padding: 10px;
  background-color: var(--light-brown);
  cursor: pointer;
}
#second h3,
#third h3,
#fourth h3 {
  margin-bottom: 20px;
}
#second ul,
#third ul,
#fourth ul {
  padding: 0;
  margin: 0;
}
#second ul li,
#third ul li,
#fourth ul li {
  margin: 0 6px 0 0;
}
#fourth ul li div {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 8px;
  gap: 10px;
}
#fourth ul li i {
  font-size: 14px;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000061;
}
.modal-content {
  background-color: #fff;
  padding: 50px;
  text-align: center;
  border-radius: 10px;
}
.modal-content button {
  padding: 5px 40px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: gray;
  color: #fff;
  cursor: pointer;
}
.modal-content button:first-of-type {
  background-color: red;
}
.notification {
  width: fit-content;
  height: 8%;
  padding: 20px;
  position: fixed;
  bottom: 8%;
  right: 5%;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(64, 177, 64);
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 2s ease-in-out;
  animation: goRight 1s ease-in-out forwards;
}
@keyframes goRight {
  0% {
    right: -50%;
  }
  100% {
    right: 10%;
  }
}
/*
.contact {
  width: 70%;
  background-color: var(--light-brown);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: 400px;
  border-radius: 10px;
}
.contact div {
  padding: 20px;
  border-radius: 10px;
}
.right-card {
  background-color: rgba(9, 9, 9, 0.526);
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px !important;
}
.right-card input,
.contact-btn {
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  color: white;
}
.right-card input {
  background-color: rgba(9, 9, 9, 0.315);
}
.contact-btn {
  background-color: rgb(151, 161, 200);
  cursor: pointer;
}
*/
