* {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
body {
  height: 100vh;
}
.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up form {
  position: relative;
  margin: 80px;
  width: 500px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sign-up form input {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.24);
}
.sign-up form button {
  margin-top: 20px;
  padding: 5px 20px;
  align-self: center;
  width: 100px;
  cursor: pointer;
  background-color: rgb(151, 161, 200);
  border-radius: 50px;
  color: white;
  border: none;
  transition: all 0.5s ease;
}
.sign-up form button:hover,
.inWebsite a:hover {
  background-color: rgb(118, 126, 158);
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 0;
  margin-left: 10px;
}
.info {
  display: flex;
  justify-content: center;
  color: rgb(7, 183, 7);
  font-size: 12px;
  margin-top: 12px;
  margin-left: 10px;
}

/* header buttons */
.inWebsite {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.inWebsite a {
  width: 80px;
  height: 40px;
  border-radius: 80px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgb(151, 161, 200);
  color: white;
  transition: all 0.5s ease;
}

.inWebsite .profileIcon {
  width: 90px;
  height: 40px;
  border-radius: 5px !important;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  transition: all 0.5s ease;
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}
